$colors: gray, red;

:root {
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$fonts: Medium, Bold, Regular;

@each $font in $fonts {
  @font-face {
    font-family: dm_sans;
    src: url("../public/font/DM_Sans/static/DMSans-#{$font}.ttf") format("truetype");
    font-weight: #{$font};
  }
}


body {
  // filter: blur(0.45px);
  min-height: 100vh;
  font-family: dm_sans;
  font-size: 1rem;
  line-height: 1.5rem;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: var(--color-black);
}

*::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 3px;
}